.main-nav {
  position: fixed;
  width: 100%;
}

.main-nav__wrapper--nav {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  padding: 8px 20px 4px 15px;
  background-color: rgba(0,0,0,0.3);
  visibility: hidden;
  opacity: 0;
}

.main-nav__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 8px 20px 4px 15px;
  background-color: rgba(0,0,0,0.3);
}

.main-nav--opened {
  visibility: visible;
  transform: translate(0, 0);
  opacity: 1;
  transition: all 0.3s ease;
}

.main-nav--closed {
  visibility: hidden;
  transform: translate(0, -150%);
  opacity: 0;
}

.main-nav__toggle {
  width: 22px;
  height: 15px;
  margin-top: 10px;
  padding: 0px;
  border: 0;
  background: rgba(0,0,0,0);
}

.main-nav__toggle-item {
  display: block;
  width: 22px;
  height: 2px;
  margin-bottom: 4px;
  border-radius: 30px;
  background-color: white;

}
.main-nav__logo {
  text-decoration: none;
}

.main-nav__list {
  padding-top: 5px;
}

@media (min-width: $tablet-width) {
  .main-nav__wrapper {
    padding: 8px 50px 4px 25px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    background-color: rgba(0,0,0,0.3);
  }

  .main-nav__wrapper {
    display: inline-block;
    padding: 20px 15px 12px 15px;
    background-color: rgba(0,0,0,0);
  }


  .main-nav__wrapper--nav {
    width: 800px;
    padding: 25px 15px;
    background-color: rgba(0,0,0,0);
    transform: translate(0, 0);
    transition: all 0.0s ease;
  }

  .main-nav__wrapper--nav {
    position: relative;
  }

  .main-nav__toggle {
    visibility: hidden;
  }
  .main-nav__wrapper--nav {
    visibility: visible;
    opacity: 1;
    transform: translate(0, 0);
  }
}
